# LaTeX auxiliary files
*.aux
*.log
*.lof
*.lot
*.toc
*.out
*.out.*
*.bbl
*.blg
*-blx.*
*.run.xml

# latexmk / build dependency info
*.fdb_latexmk
*.fls

# SyncTeX
*.synctex.gz
*.synctex(busy)

# Intermediate formats
*.xdv
*.dvi
*.ps

# Beamer
*.nav
*.snm
*.vrb

# Index / glossary
*.idx
*.ilg
*.ind
*.glo
*.gls*
*.acn
*.acr
*.alg
*.ist

# Minted / listings caches
_minted*
*.pyg

# Other editor / tool caches
*.bak
*.swp
*.DS_Store

# Optional: ignore PDFs except release ones
*.pdf

tmp-pdfcrop-13964.tex
*.ini
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.eoc
*.fmt
*.fot
*.cb
*.cb2
*.tce
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
Temp/*
simkai.ttf